<!-- Footer des pages -->

<footer class="bd-footer bg-dark">
	<div class="container py-3 py-md-5 px-3 px-md-3 ">
		<div class="row">

			<div class="col-lg-4 container-fuid d-flex flex-column align-items-center mb-4 mb-lg-0 text-center">
				<a class="navbar-brand mr-5" href="{{ path('homepage') }}"><img src={{asset('assets/images/logo/logoBlanc.png')}} class="brand-img" alt="" height="100px"></a>
				<ul class="list-unstyled small text-muted st-et">
					<li class="mb-2 st-et">Restaurant Gastronomique à Chambéry autour des produits frais et surtout haut savois ...</li>
					<li class="mb-2 st-et">01 66 04 05 07
					</li>
					<li class="mb-2 st-et">contact@restaurantQuaiAntique.com</li>
					<li class="mb-2 st-et"></li><br>
					<li class="mb-2 st-et">Copyright © 2023 Restaurant Quai Antique</li>
				</ul>
			</div>

			<div class="col-lg-4 container-fuid d-flex flex-column align-items-center">
				<h5>Nos horaires</h5>
				<table class="table">
					<tbody>
						{% for horaire in horaires %}
							<tr>
								<td>
									<strong>{{ horaire.day }}
									</strong>
								</td>
								{% if horaire.closeM  %}
									<td colspan="2">
										<strong style="color: #d9ac35;">Fermé
										</strong>
									</td>
								{% else %}
									<td>{{ horaire.timeStartM ? horaire.timeStartM|date('H:i') : '' }}</td>
									<td>{{ horaire.timeEndM ? horaire.timeEndM|date('H:i') : '' }}</td>
								{% endif %}

								{% if horaire.closeN %}
									<td colspan="2">
										<strong style="color: #d9ac35;">Fermé
										</strong>
									</td>
								{% else %}
									<td>{{ horaire.timeStartN ? horaire.timeStartN|date('H:i') : '' }}</td>
									<td>{{ horaire.timeEndN ? horaire.timeEndN|date('H:i') : '' }}</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>

		<div class="col-lg-4  container-fuid d-flex flex-column align-items-center">
			<h5>Nos réseaux sociaux</h5>
			<ul class="list-unstyled ">
				<li class="mb-2 me-2">
					<a href="#">
						<ion-icon name="logo-facebook" class="social-icon"></ion-icon>
					</a>
				</li>
				<li class="mb-2 me-2">
					<a href="#">
						<ion-icon name="logo-twitter" class="social-icon"></ion-icon>
					</a>
				</li>
				<li class="mb-2 me-2">
					<a href="#">
						<ion-icon name="logo-instagram" class="social-icon"></ion-icon>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>
</footer>
<style>
.social-icon {
	font-size: 30px;
	border: 2px solid #fff;
	border-radius: 50%;
	padding: 5px;
}
.social-icon:hover {
	border: 2px solid #d9ac35;
}</style>
