{{ form_start(form ,{'attr': {'novalidate': 'novalidate' }}) }}
{% for flashMessage in app.flashes('error') %}
	<div class="alert-container">
		<div class="alert-message">
			{{ flashMessage }}
		</div>
	</div>
{% endfor %}
{{ form_widget(form) }}
<button class="w-100 btn btn-lg">
	{{ button_label|default('Réserver') }}</button>
{{ form_end(form) }}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/styleReservation.css') }}">
{% endblock %}

{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{ asset('assets/js/plageHoraire.js') }}" defer></script>
{% endblock %}
