{% extends 'adminBase.html.twig' %}

{% block title %}
	<title>
		Admin Galerie |Quai Antique</title>
{% endblock %}

{% block body %}
	{% include "admin/_partials/_cards.html.twig" %}
	<div class="detailss">
		<div class="recentOrders card">
			<div class="cardHeader">
				<h2>
					<strong>
						Images de galerie</strong>
				</h2>
				<a href="{{ path('app_images_new') }}" class="btn">
					<ion-icon name="add-outline"></ion-icon>Ajouter une image</a>
			</div>
			<br>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Nom du fichier image</th>
						<th>Image</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>

					{% for image in pagination %}
						<tr>
							<td>{{ image.id }}</td>
							<td>{{ image.name }}</td>
							<td>{{ image.fileName }}</td>
							<td><img src="{{ vich_uploader_asset(image, 'file') }}" alt="{{ image.fileName }}" width="80px 50px"></td>
							<td>
								<button class="btn">
									<a href="{{ path('app_images_show' , {'id': image.id}) }}">
										<ion-icon name="eye-sharp" class="iconBx"></ion-icon>
									</a>
								</button>
								<button class="btn">
									<a href="{{ path('app_images_edit', {'id': image.id}) }}">
										<ion-icon name="pencil" class="iconBx"></ion-icon>
									</a>
								</button>

								<button class="btn">{{ include('admin/admin_images/_delete_form.html.twig') }}</button>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% include "admin/_partials/_pagination.html.twig" %}
		</div>
	</div>
{% endblock %}
