{{ form_start(form) }}
<div>
	{{ form_label(form.title,'Titre de plat') }}
	{{ form_widget(form.title,{'att':{'class':'form-control'}}) }}
</div>
<div>
	{{ form_label(form.price,'Prix de plat') }}
	{{ form_widget(form.price,{'att':{'class':''}}) }}
</div>
<div>
	{{ form_label(form.description,'Description') }}
	{{ form_widget(form.description,{'att':{'class':''}}) }}
</div>
<div>
	{{ form_label(form.Categoy,'Associer à une category') }}
	{{ form_widget(form.Categoy,{'att':{'class':''}}) }}
</div>
<br>
<div class="d-grid gap-2 col-6 mx-auto">
	<button class="btn btn-dark "><ion-icon name="create"></ion-icon>{{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}

