{% extends 'adminBase.html.twig' %}

{% block title %}
	<title>Admin plat |Quai Antique</title>
{% endblock %}
{% block body %}
	{% include "admin/_partials/_cards.html.twig" %}
	<div class="detailss">
		<div class="recentOrders card">
			<div class="cardHeader">
				<h2>
					<strong>
						Plat
						{{ plat.id }}
					</strong>
				</h2>
				<a href="{{ path('app_admin_plat_index') }}" class="btn">Liste des plats</a>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ plat.id }}</td>
					</tr>
					<tr>
						<th>Titre</th>
						<td>{{ plat.title }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ plat.description }}</td>
					</tr>
					<tr>
						<th>Prix</th>
						<td>{{ plat.price }}€</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
