{% extends 'adminBase.html.twig' %}

{% block title %}
	<title>Admin formule |Quai Antique</title>
{% endblock %}
{% block body %}
   	{% include "admin/_partials/_cards.html.twig" %}

	<div class="detailss">
		<div class="recentOrders card">
			<div class="cardHeader">
				<h2>
					<strong>
					Formule
					</strong>
				</h2>
				
				<a href="{{ path('app_admin_formule_index') }}" class="btn">Liste des formules</a>

			</div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formule.id }}</td>
            </tr>
            <tr>
                <th>Menu associée</th>
                <td>{{ formule.menu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ formule.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ formule.price }}€</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
