<div class="details">
	<div class="recentOrders card">
		<div class="cardHeader">
			<h2>Dernières réservations</h2>
			<a href="{{ path('app_admin_reservation_index') }}" class="btn">Voir tout</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Client</th>
					<th>Date</th>
					<th>L'heure</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for reservation in pagination %}
					<tr>
						<td>{{ reservation.id }}</td>
						{% if reservation.user is not null %}
							<td>{{ reservation.user.firstname }}
								{{ reservation.user.lastname }}</td>
						{% else %}
							<td>{{ reservation.firstname }}
								{{ reservation.lastname }}</td>
						{% endif %}
						<td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
						<td>{{ reservation.time }}</td>
						<td>
							<button class="btn">
								<a href="{{ path('app_admin_reservation_show', {'id': reservation.id}) }}">
									<ion-icon name="eye-outline" class="iconBx"></ion-icon>
								</a>
							</button>
							<button class="btn">
								<a href="{{ path('app_admin_reservation_edit', {'id': reservation.id}) }}">
									<ion-icon name="pencil" class="iconBx"></ion-icon>
								</a>
							</button>
							<button class="btn">{{ include('admin/admin_reservation/_delete_form.html.twig') }}</button>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Aucune réservation</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="recentCustomers card">
		<div class="cardHeader">
			<h2>Capacité du restaurant
			</h2>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre des places maximum de restaurant</th>
				</tr>
			</thead>
			<tbody>
				{% for seuil_maximum in seuil_maximums %}
					<tr>
						<td>{{ seuil_maximum.nbrSeatMax }}
							places
						</td>
						<td>
							<button class="btn">
								<a href="{{ path('app_admin_seuil_maximum_edit', {'id': seuil_maximum.id}) }}">
									<ion-icon name="pencil" class="iconBx"></ion-icon>
								</a>
							</td>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
