<!-- =============== Navigation ================ -->
{# <div class="container"> #}
	<div class="navigation"> <ul>
		<li>
			<a href="#">
				<span class="icon">
					<img src={{asset('assets/images/logo/logoBlanc.png')}} height="100px">
				</span>
			</a>
		</li>

		<li class="nav-item {{ app.request.get('_route') == 'app_admin' ? 'active' : '' }}">
			<a href="{{ path('app_admin') }}">
				<span class="icon">
					<ion-icon name="home-outline"></ion-icon>
				</span>
				<span class="title">Dashboard</span>
			</a>
		</li>

		<li class="nav-item {{ app.request.get('_route') == 'app_admin_user_index' ? 'active' : '' }}">
			<a href="{{ path('app_admin_user_index') }}">
				<span class="icon">
					<ion-icon name="people-outline"></ion-icon>
				</span>
				<span class="title">Users</span>
			</a>
		</li>

		<li class="nav-item {{ app.request.get('_route') == 'app_admin_menu_index' ? 'active' : '' }}">
			<a href="{{ path('app_admin_menu_index') }}">
				<span class="icon">
					<ion-icon name="book-outline"></ion-icon>
				</span>
				<span class="title">Menu</span>
			</a>
		</li>
		<li class="nav-item {{ app.request.get('_route') == 'app_admin_category_index' ? 'active' : '' }}">
			<a href="{{ path('app_admin_category_index') }}">
				<span class="icon">
					<ion-icon name="layers-outline"></ion-icon>
				</span>
				<span class="title">Category</span>
			</a>
		</li>
		<li class="nav-item {{ app.request.get('_route') == 'app_admin_formule_index' ? 'active' : '' }}">
			<a href="{{ path('app_admin_formule_index') }}">
				<span class="icon">
					<ion-icon name="receipt-outline"></ion-icon>
				</span>
				<span class="title">Formules</span>
			</a>
		</li>
		<li class="nav-item {{ app.request.get('_route') == 'app_admin_plat_index' ? 'active' : '' }}">
			<a href="{{ path('app_admin_plat_index') }}">
				<span class="icon">
					<ion-icon name="fast-food-outline"></ion-icon>
				</span>
				<span class="title">Plats</span>
			</a>
		</li>
		<li class="nav-item {{ app.request.get('_route') == 'app_images_index' ? 'active' : '' }}">
			<a href="{{ path('app_images_index') }}">
				<span class="icon">
					<ion-icon name="images-outline"></ion-icon>
				</span>
				<span class="title">Galerie</span>
			</a>
		</li>
		<li class="nav-item {{ app.request.get('_route') == 'app_admin_reservation_index' ? 'active' : '' }}">

			<a href="{{ path('app_admin_reservation_index') }}">
				<span class="icon">
					<ion-icon name="calendar-outline"></ion-icon>
				</span>
				<span class="title">Réservations</span>
			</a>
		</li>
		<li class="nav-item {{ app.request.get('_route') == 'app_admin_horaire_index' ? 'active' : '' }}">

			<a href="{{ path('app_admin_horaire_index') }}">
				<span class="icon">
					<ion-icon name="alarm-outline"></ion-icon>
				</span>
				<span class="title">Horaires</span>
			</a>
		</li>

		<li class="nav-item {{ app.request.get('_route') == 'app_logout' ? 'active' : '' }}">
			<a href="{{ path('app_logout') }}">
				<span class="icon">
					<ion-icon name="log-out-outline"></ion-icon>
				</span>
				<span class="title">Sign Out</span>
			</a>
		</li>
	</ul>
	{# </div> #}


	{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('app_admin') }}">Quai Antique</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('app_admin') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="#">Action</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Another action</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="#">Something else here</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled">Disabled</a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						{% if app.user %}
		                    {% if is_granted('ROLE_ADMIN') %}
		                        <li class="nav-item">
		                            <a class="nav-link" href="{{ path('app_admin') }}">Administration</a>
		                        </li>
		                    {% endif %}
		                    <li class="nav-item">
		                        <a class="nav-link" href="#">Mon compte</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
		                    </li>
		                {% else %}
		                    <li class="nav-item">
		                        <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link" href="{{ path('app_login') }}">Me Connecter</a>
		                    </li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav> #}
