{% extends "adminBase.html.twig" %}

{% block title %}
	<title>Admin Liste Users |Quai Antique</title>
{% endblock %}
{% block body %}
{% include "admin/_partials/_cards.html.twig" %}

<div class="detailss">
	<div class="recentOrders card">
		<div class="cardHeader">
			<h2>
				<strong>
					Liste des utilisateurs
				</strong>
			</h2>
		</div>
		<table class="table" id="datatablesSimple">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Allergies</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in pagination %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>
							{% if user.allergies is empty %}
								Aucune allergie
							{% else %}
								<ul>
									{% for allergie in user.allergies %}
										<li>{{ allergie.name }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</td>
						<td>
							<button>
								<a href="{{ path('app_admin_user_show', {'id': user.id}) }}">
									<ion-icon name="eye-sharp" class="iconBx"></ion-icon>
								</a>
							</button>
							<button>
								<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">
									<ion-icon name="pencil" class="iconBx"></ion-icon>
								</a>
							</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Aucun utilisateurs</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "admin/_partials/_pagination.html.twig" %}
		<script>
			{% endblock %}
