{% extends 'base.html.twig' %}

{% block title %}Menu
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/styleMenuCarte.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/styleUser.css') }}">
{% endblock %}

{% block body %}
	<div class="container blocGeneral ">
		<div class="row text-center blocGeneral">
			<div class="bloc1 col-md-6">
				<h1 class="title">Les Menus</h1>
				{% for menu in menus %}
					<a href="{{ path('app_menu_show', {'id': menu.id}) }}">
						<h4 class="text-center">
							<strong>
								{{ menu.title }}</strong>
						</h4><br>
					</a>
				{% endfor %}
			</div>

			<div class="bloc2 col-md-6">
				<div class="col-12">
					<div class="" {% for menu in menus %} id="{{ menu.id }}" {% endfor %}>
						<h2>
							<strong>
								{{ menu.title }}</strong>
						</h2>
						{% for formule in formules %}
							<div
								class="card-menu">
								<div class="d-grid justify-items: center">
									<p>{{ formule.description|nl2br }}</p>
									<p class="plat-price">{{ formule.price }}€</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="d-grid col-md-6 mt-3 col-sm-8 col-12 mx-auto text-center">
			<button type="button" class"bttn" href="{{ path('app_reservation_new') }}">
				<a class="lien" href="{{ path('app_reservation_new') }}">Réserver
				</button>
			</div>
		</div>
	{% endblock %}
